@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

[tabkiller-enabled="true"] menuitem#context-openlinkintab,
[tabkiller-enabled="true"] menuitem[oncommand="gContextMenu.openFrameInTab();"],
[tabkiller-enabled="true"] menuitem[command="cmd_newNavigatorTab"],
[tabkiller-enabled="true"] menuitem[cmd="bm_openinnewtab"],
[tabkiller-enabled="true"] menuitem[command="cmd_bm_openinnewtab"],
[tabkiller-enabled="true"] menuseparator#openintabs-menuseparator,
[tabkiller-enabled="true"] menuitem#openintabs-menuitem,
[tabkiller-enabled="true"] menuseparator.openintabs-menuseparator,
[tabkiller-enabled="true"] menuitem.openintabs-menuitem,
[tabkiller-enabled="true"] menuitem#miOpenInNewTab
{
    display: none !important;
}
